*{
    box-sizing: border-box;
}

 p1{
    margin :10px;
    width : 31%;
    background-color: grey;
    border: solid black;
   float: left;
    padding-left: 10px;

}
#h1
{
    text-align: right;
    margin: 0;
}
#h1 span{
    background-color: pink;
    border-left:solid black;
    border-bottom: solid black;
    padding-left: 40px;
    padding-right: 40px;
}
#h2
{
    text-align: right;
    margin: 0;
}
#h2 span
{
    background-color: brown;
    border-left:solid black;
    border-bottom: solid black;
    padding-left: 40px;
    padding-right: 40px;
}
#h3
{
    text-align: right;
    margin: 0;
}
#h3 span
{
    background-color: yellow;
    border-left:solid black;
    border-bottom: solid black;
    padding-left: 40px;
    padding-right: 40px;
}
@media (min-width: 992px)
{
    p1{
        width: 30%;
        float : left;
    }
}
@media (min-width: 768px) and (max-width:991px )
{
p1{
    width : 45%;
    float: left;
}
#box3{
    width: 92%;
}
}
@media (max-width: 767px)
{
#box1
{
    width:100%;
}
#box2
{
    width: 100%;

}
#box3
{
    width: 100%;
}
}